* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #121212;
  background: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #e7ecef;
  font-family: Arial, Helvetica, sans-serif; /*komt een ander font in*/
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2{
  text-align: center;
  font-weight: light;
}

ul {
  font-weight: lighter;
  font-size: 1em;
  list-style: none;
  
  & a{
    color: #e7ecef;
  }
}

blockquote{
  max-width: 40ch;
  font-size: 12px;
  font-weight: light;
}
img {
  height: 250px;
  width: 250px;
  border-radius: 25em;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
  cursor: grabbing;
}

.container-flip {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 2.5em;
  transition: transform 1.2s;
  transform-style: preserve-3d;

  & .front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, .3);
    backdrop-filter: blur(5px);
    gap: 2em;
  }
}

.back {
  transform: rotateY(180deg);
  padding: 2em;
}
