* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #2b2b2b;
  color: #f1ede8;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2{
  text-align: center;
  font-weight: light;
}
ul {
  font-weight: lighter;
  font-size: 1.2em;
  text-decoration: none;
  list-style: none;
}
a{
  color: #2b2b2b;
}

blockquote{
  max-width: 40ch;
  font-size: 12px;
  font-weight: light;
}
img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

.container-flip {
  cursor: grabbing;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 2em;
  color: #2B2B2B;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.front, .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: #CDC0B1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.back {
  background: #CDC0B1;
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 2em;
}

